<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <section class="name-notes">
        <div class="patient-detail sub-section">
          <div class="name">
            <h3 class="patient-name">Joe Bloggs</h3>
          </div>
          <div class="details">
            <div class="sex key-value">
              <h3 class="h-heading">Sex</h3>

              <p class="value">Male</p>
            </div>
            <div class="dob key-value">
              <h3 class="h-heading">Date Of Birth</h3>

              <p class="value">Male</p>
            </div>
            <div class="past-medical-history key-value">
              <h3 class="h-heading">Past Medical History</h3>

              <p class="value">
                <span>Polycystic Kidney disease</span>
                <span>Hypertension</span>
              </p>
            </div>
            <div class="medication key-value">
              <h3 class="h-heading">Medications</h3>

              <p class="value">
                <span>rampril - 10mg OD</span>
                <span>Biosprolol - 12mg BD</span>
              </p>
            </div>
          </div>
        </div>

        <div class="clinic-notes sub-section">
          <h1 class="section-heading">Clinic Notes</h1>
          <div class="dates-wise-notes">
            <h3 class="date">24 / 04/ 2021</h3>
            <p class="notes">
              Patient presented to the emergency department with a 2-hour
              history of an occipital headache and neck pain. He has since
              vomited 3 times and complains of blurred vision. Wearing
              sunglasses has helped ease the intensity of the headache. There is
              no past medical history of note and her regular medications
              consist of over-the-counter vitamins. On examination, He is
              afebrile. She has a GCS of 15 and is moving all 4 limbs with good
              power and without any sensory deficit. There are no signs of an
              acute head injury.
            </p>
          </div>
        </div>
      </section>

      <section class="tests-data">
        <div class="blood-test sub-section">
          <div class="section-heading">Blood Test</div>

          <div class="key-value">
            <h3 class="h-heading">Sodium</h3>
            :
            <p class="value">134</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Potassium</h3>
            :
            <p class="value">1.4</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Urea</h3>
            :
            <p class="value">5</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Creatinine</h3>
            :
            <p class="value">80</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">bicarbonate</h3>
            :
            <p class="value">26</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">chloride</h3>
            :
            <p class="value">95</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Haemoglobin</h3>
            :
            <p class="value">137</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Mean cell count</h3>
            :
            <p class="value">92</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Platelets</h3>
            :
            <p class="value">200</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">WBC</h3>
            :
            <p class="value">6*10^9</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Neutrophils</h3>
            :
            <p class="value">3*10^9</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Lymphocytes</h3>
            :
            <p class="value">3*10^9</p>
          </div>

          <div class="key-value">
            <h3 class="h-heading">Eosinophils</h3>
            :
            <p class="value">0.3*10^9</p>
          </div>
        </div>

        <div class="imaging-data sub-section"></div>
      </section>

      <section class="assistant"></section>
    </div>
  </body>
</html>
