<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <section class="name-notes">
        <input type="text" class="search-bar" placeholder="Search Patient" />
        <div class="patient-detail sub-section">
          <div class="name">
            <h3 class="patient-name Forename">Joe</h3>
            <h3 class="patient-name Surname">Bloggs</h3>
          </div>
          <div class="details">
            <div class="key-value">
              <h3 class="key">Sex</h3>

              <p class="value Sex">Male</p>
            </div>
            <div class="key-value">
              <h3 class="key">Date Of Birth</h3>

              <p class="value DOB"></p>
            </div>
            <div class="past-medical-history key-value">
              <h3 class="key">Past Medical History</h3>

              <p class="value PastMedicalHistory">
                <span>Polycystic Kidney disease</span>
                <span>Hypertension</span>
              </p>
            </div>
            <div class="medication key-value">
              <h3 class="key">Medications</h3>

              <p class="value Medications">
                <span>rampril - 10mg OD</span>
                <span>Biosprolol - 12mg BD</span>
              </p>
            </div>
          </div>
        </div>

        <div class="clinic-notes sub-section">
          <h1 class="section-heading">Clinic Notes</h1>
          <div class="dates-wise-notes">
            <h3 class="date">24 / 04/ 2021</h3>
            <p class="notes PatientNotesEntry">
              Patient presented to the emergency department with a 2-hour
              history of an occipital headache and neck pain. He has since
              vomited 3 times and complains of blurred vision. Wearing
              sunglasses has helped ease the intensity of the headache. There is
              no past medical history of note and her regular medications
              consist of over-the-counter vitamins. On examination, He is
              afebrile. She has a GCS of 15 and is moving all 4 limbs with good
              power and without any sensory deficit. There are no signs of an
              acute head injury.
            </p>
          </div>
        </div>
      </section>

      <section class="tests-data">
        <div class="blood-test sub-section">
          <div class="section-heading">Blood Test</div>

          <div class="key-value">
            <h3 class="key">Sodium</h3>
            :
            <p class="value Sodium">134</p>
          </div>

          <div class="key-value">
            <h3 class="key">Potassium</h3>
            :
            <p class="value Potassium">1.4</p>
          </div>

          <div class="key-value">
            <h3 class="key">Urea</h3>
            :
            <p class="value Urea">5</p>
          </div>

          <div class="key-value">
            <h3 class="key">Creatinine</h3>
            :
            <p class="value Creatinine">80</p>
          </div>

          <div class="key-value">
            <h3 class="key">bicarbonate</h3>
            :
            <p class="value bicarbonate">26</p>
          </div>

          <div class="key-value">
            <h3 class="key">chloride</h3>
            :
            <p class="value chloride">95</p>
          </div>

          <div class="key-value">
            <h3 class="key">Haemoglobin</h3>
            :
            <p class="value Haemoglobin">137</p>
          </div>

          <div class="key-value">
            <h3 class="key">Mean cell count</h3>
            :
            <p class="value MeancCellCount">92</p>
          </div>

          <div class="key-value">
            <h3 class="key">Platelets</h3>
            :
            <p class="value Platelets">200</p>
          </div>

          <div class="key-value">
            <h3 class="key">WBC</h3>
            :
            <p class="value WBC">6*10^9</p>
          </div>

          <div class="key-value">
            <h3 class="key">Neutrophils</h3>
            :
            <p class="value Neutrophils">3*10^9</p>
          </div>

          <div class="key-value">
            <h3 class="key">Lymphocytes</h3>
            :
            <p class="value Lymphocytes">3*10^9</p>
          </div>

          <div class="key-value">
            <h3 class="key">Eosinophils</h3>
            :
            <p class="value Eosinophils">0.3*10^9</p>
          </div>
        </div>

        <div class="imaging-data sub-section">
          <div class="section-heading">Imaging Data</div>
          <div class="scan">
            <h3 class="scan-link">CT Scan Report (click)</h3>
            <h3 class="scan-link">EMR Scan Report (click)</h3>
          </div>

          <!-- <img src="" -->
        </div>
      </section>

      <section class="assistant">
        <div class="section-heading">Assitance</div>
      </section>
    </div>

    <script src="ArrayData.js"></script>
    <script src="app.js"></script>
  </body>
</html>
