<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/index.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <section class="name-notes">
        <input type="text" class="search-bar" placeholder="Search Patient" />
        <div class="patient-detail sub-section">
          <div class="name">
            <h3 class="patient-name Forename"></h3>
            <h3 class="patient-name Surname"></h3>
          </div>
          <div class="details">
            <div class="key-value">
              <h3 class="key">Sex</h3>

              <p class="value Sex"></p>
            </div>
            <div class="key-value">
              <h3 class="key">Date Of Birth</h3>

              <p class="value DOB"></p>
            </div>
            <div class="past-medical-history key-value">
              <h3 class="key">Past Medical History</h3>

              <p class="value PastMedicalHistory"></p>
            </div>
            <div class="medication key-value">
              <h3 class="key">Medications</h3>

              <p class="value Medications"></p>
            </div>
          </div>
        </div>

        <div class="clinic-notes sub-section">
          <h1 class="section-heading">Clinic Notes</h1>
          <div class="dates-wise-notes">
            <h3 class="date">24 / 04/ 2021</h3>
            <p class="notes PatientNotesEntry"></p>
          </div>
        </div>
      </section>

      <section class="tests-data">
        <div class="blood-test sub-section">
          <div class="section-heading">Blood Test</div>

          <div class="key-value">
            <h3 class="key">Sodium</h3>
            :
            <p class="value Sodium"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Potassium</h3>
            :
            <p class="value Potassium"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Urea</h3>
            :
            <p class="value Urea"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Creatinine</h3>
            :
            <p class="value Creatinine"></p>
          </div>

          <div class="key-value">
            <h3 class="key">bicarbonate</h3>
            :
            <p class="value bicarbonate"></p>
          </div>

          <div class="key-value">
            <h3 class="key">chloride</h3>
            :
            <p class="value chloride"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Haemoglobin</h3>
            :
            <p class="value Haemoglobin"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Mean cell count</h3>
            :
            <p class="value MeancCellCount"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Platelets</h3>
            :
            <p class="value Platelets"></p>
          </div>

          <div class="key-value">
            <h3 class="key">WBC</h3>
            :
            <p class="value WBC"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Neutrophils</h3>
            :
            <p class="value Neutrophils"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Lymphocytes</h3>
            :
            <p class="value Lymphocytes"></p>
          </div>

          <div class="key-value">
            <h3 class="key">Eosinophils</h3>
            :
            <p class="value Eosinophils"></p>
          </div>
        </div>

        <div class="imaging-data sub-section">
          <div class="section-heading">Imaging Data</div>
          <div class="scan">
            <h3 class="scan-link">CT Scan Report (click)</h3>
            <h3 class="scan-link">EMR Scan Report (click)</h3>
          </div>

          <!-- <img src="" -->
        </div>
      </section>

      <section class="assistant">
        <div class="section-heading">Assistance</div>
        <div class="disease-box">
          <div class="color-box red"></div>
          <div class="color-box blue"></div>
          <div class="disease-name">Pancreatic Cancer</div>
        </div>

        <div class="disease-box">
          <div class="color-box red"></div>
          <div class="color-box blue"></div>
          <div class="disease-name">Viral Gastroenteritis</div>
        </div>

        <div class="disease-box">
          <div class="color-box red"></div>
          <div class="color-box blue"></div>
          <div class="disease-name">Migrane</div>
        </div>

        <div class="disease-box">
          <div class="color-box red"></div>
          <div class="color-box green"></div>
          <div class="disease-name">Viral respiratory tract infection</div>
        </div>

        <div class="disease-box">
          <div class="color-box green"></div>
          <div class="color-box blue"></div>
          <div class="disease-name">Hypertension</div>
        </div>

        <div class="disease-box">
          <div class="color-box red"></div>
          <div class="color-box blue"></div>
          <div class="disease-name">Covid-19</div>
        </div>

        <div class="disease-box">
          <div class="color-box red"></div>
          <div class="color-box green"></div>
          <div class="disease-name">Tension Headache</div>
        </div>
      </section>
    </div>

    <script src="./JavaScript/ArrayData.js"></script>
    <script src="./JavaScript/app.js"></script>
  </body>
</html>
