* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
}
.main {
  display: flex;
  position: relative;
}
.search-bar {
  padding: 5px;
  font-size: 16px;
}

section {
  border: 1px black solid;
  min-height: 100vh;
  flex: 1;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around; */
  line-height: 1.6;
}

.sub-section {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.section-heading {
  font-size: 23px;
  font-weight: 600;
  color: rgb(65, 65, 184);
  margin-bottom: 15px;
}

.key-value {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px rgba(65, 59, 60, 0.5) solid;
  padding: 10px 0;
}

.value {
  margin-left: 10px;
  flex: 1;
  text-align: right;
  font-size: 18px;
}

.name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 2px red solid;
  width: 200px;
  color: rgb(11, 11, 200);
}
.patient-name {
  display: inline-block;
}

.key {
  font-size: 16px;
  font-weight: 600;
}

.value span {
  background: rgb(235, 168, 179, 0.4);
  padding: 5px;
  border-radius: 10px;
  border: 1px rgb(235, 168, 179, 1) solid;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
}

.date {
  font-weight: 600;
  font-size: 15px;
  color: rgb(95, 93, 93);
}
.scan {
  line-height: 2;
  color: rgb(45, 56, 90);
  font-weight: 500;
  font-size: 17px;
}

.scan-link {
  cursor: pointer;
  width: 60%;
  margin-bottom: 10px;
}

.scan-link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s;
  margin: auto;
}
.scan-link:hover {
  color: black;
}

.scan-link:hover::after {
  width: 100%;
}

.notes {
  font-size: 20px;
}
